@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --dark: #0B698B;
  --light: #C6EFF9;
  --main: #0396A6;
  --secondary: #64C3ED;
  --darkGray: #848484;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Common CSS */
*{
	margin: 0;
	box-sizing: border-box;
  font-family: 'Alegreya', sans-serif;
  font-size: 16px;
  font-weight: normal;
}

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}
ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
}
img,
video {
  max-width: 100%;
  height: auto;
}
a{
  text-decoration: none;
}
input,select,button{
  border: none;
}
a,button{
  cursor: pointer;
}

/* Logo */
.logo-font{
  font-family: 'Alegreya', sans-serif;
  font-size: 30px;
}


/* AQUA */
.color-dark{
  color: var(--dark)
}
.color-light{
  color: var(--light)
}
.color-main{
  color: var(--main)
}
.color-secondary{
  color: var(--secondary)
}
.color-dark-gray{
  color:  var(--darkGray);
}


.bg-color-dark{
  background-color: var(--dark)
}
.bg-color-light{
  background-color: var(--light)
}
.bg-color-main{
  background-color: var(--main)
}
.bg-color-secondary{
  background-color: var(--secondary)

}


/* input placeholder */
input::placeholder {
  color: var(--darkGray);
  opacity: 1; /* Firefox */
}
input:-ms-input-placeholder { /* Internet Explorer 10-11 */
 color: #848484;
}
input::-ms-input-placeholder { /* Microsoft Edge */
  color: #848484;
}


/*subtitle styles*/
.subtitle{
  font-family: 'Satisfy', cursive;
}

/* button */
.btn-style{
  color: var(--light);
  background-color: var(--dark);
}

/*Navigation bar*/
.nav-styles{
  background-color: var(--main)
	/* background-color: rgba(100%, 100%, 100%, 5%); */
	/* backdrop-filter: blur(50px); */
}


/*place*/
.place-content{
  position: absolute;
  bottom: 0;
  width: 100%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.85), transparent);
}
